@import "../../saas/main.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 45px;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 30px;
  border: none;
}

.white {
  color: $mainBlack;
  background-color: $btnWhite;
}

.green {
  color: $btnWhite;
  background-color: $accentGreen;
  border: 1px solid #FCFCFC66;
}

.transparent {
  color: $accentGreen;
  border: 1px solid $accentGreen;
}